# Gradle directories
.gradle/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*~

# docToolchain cache
.asciidoctor/

# clangd cache
.cache/

# Python cache
./tools/protocol_validator/networking/__pycache__/

#build dir
build/

# Log files
logs/
*.log
UART2ETH.code-workspace
